.StackSyllabus__main {
    padding: 30px 10px 40px;
    background: #f7f9fb;
}

.StackSyllabus__main-top {
    max-width: 1280px;
    margin: 80px auto;
}

.StackSyllabus__main-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.StackSyllabus__main-top-container--heading {
    color: rgba(10, 45, 71, .9294117647058824);
    font-size: 30px;
}

.StackSyllabus__main-top-container--right-button {
    background: transparent;
    -webkit-box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    border-radius: 5px;
    color: #ff219f;
    border: 1px solid #ff219f;
    padding: 14px 51px 13px 50px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.StackSyllabus__main-top--text {
    width: 60%;
    color: rgba(106, 127, 134, .9294117647058824);
}

.StackSyllabus {
    max-width: 1280px;
    margin: 0 auto;
}

.StackSyllabus__course {
    margin: 40px 0;
}

.StackSyllabusContent__course-section {
    display: flex;
    flex-direction: column;
}

.StackSyllabus__course-top {
    background: transparent linear-gradient(89deg, rgba(45, 111, 162, .8862745098039215), rgba(2, 9, 14, .9294117647058824)) 0 0 no-repeat padding-box;
    padding: 23px 20px 20px;
}

.StackSyllabus__course-top,
.StackSyllabus__course-top-main {
    color: #fff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.StackSyllabus__course-top,
.StackSyllabus__course-top-main {
    color: #fff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.StackSyllabus__course-top-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
}

.StackSyllabus__course-top-main--text {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    width: 70%;
}

.StackSyllabus__course-top-main--done {
    font-size: 16px;
    color: rgba(244, 163, 76, .9294117647058824);
    border-radius: 14px;
    border: 1px solid rgba(244, 163, 76, .3);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 0 15px;
    line-height: 24px;
}

.StackSyllabus__course-top--text {
    padding: 0 20px;
    width: 70%;
}

.StackSyllabus__course-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    color: #72839c;
    padding: 16px 40px;
    font-size: 16px;
    -webkit-box-shadow: 0 3px 6px rgba(75, 140, 232, .10196078431372549);
    box-shadow: 0 3px 6px rgba(75, 140, 232, .10196078431372549);
    letter-spacing: .16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.StackSyllabus__course-bottom--chapter span {
    font-weight: 500;
    font-size: 18px;
}

.StackSyllabus__course-bottom--button {
    padding: 11px 34px 10px;
    color: rgba(10, 45, 71, .9294117647058824);
    letter-spacing: .16px;
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1607843137254902);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1607843137254902);
    border: none;
    cursor: pointer;
}

.StackSyllabusContent__course-content {
    background-color: #fff;
    overflow: hidden;
    transition: height .6s ease;
}

.StackSyllabus__course-content {
    padding: 21px 44px 21px 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.StackSyllabus__course-bottom-active {
    -webkit-transition: all .2s;
    transition: all .2s;
    background: transparent linear-gradient(89deg, rgba(45, 111, 162, .8862745098039215), rgba(2, 9, 14, .9294117647058824)) 0 0 no-repeat padding-box;
    color: #fff;
}


@media screen and (max-width:900px) {
    .list {
        display: block;
        padding-left: 90px;
        padding-right: 80px;
    }
}

@media screen and (max-width:500px) {
    .StackSyllabus__main-top-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .StackSyllabus__main-top-container--heading {
        margin-bottom: 30px;
        text-align: center;
    }

    .StackSyllabus__main-top-container--right-button {
        margin-bottom: 10px;
    }

    .StackSyllabus__main-top--text {
        width: 100%;
        text-align: center;
    }

    .StackSyllabus__course-top-main {
        padding: 0;
    }

    .StackSyllabus__course-top-main--text {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .StackSyllabus__course-top-main--done {
        font-size: 12px;
    }

    .StackSyllabus__course-top--text {
        padding: 0;
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
    }

    .StackSyllabus__course-bottom {
        font-size: 12px;
        padding: 15px 20px;
    }

    .StackSyllabus__course-bottom--chapter {
        margin-left: 0;
    }

    .StackSyllabus__course-bottom--chapter span {
        font-size: 16px;
    }

    .StackSyllabus__course-bottom--button {
        margin-bottom: 8px;
        font-size: 14px;
        background: #fff;
    }

    .list {
        display: block;
        padding-left: 20px;
    }
}