.course-page-container {
    font-family: Inter;
    color: #151414;
}

.course-page-header {
    max-width: 1280px;
    margin: auto;
    height: 48vh;
}

.course-page-header--fixed-btn-container {
    width: 160px;
    height: 40px;
    border: none;
    background: #00a6eb 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
    opacity: 1;
    color: #fff;
    font-size: 18px;
    position: fixed;
    right: 0;
    top: 50%;
    display: flex;
    transition: width .8s ease;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    overflow: auto;
    transform: translate3d(70%, 0, 0);
    cursor: pointer;
    z-index: 500;
}

.course-page-header--fixed-btn-container:hover {
    transform: translateZ(0);
}

.course-page-header--fixed-btn-container>img {
    width: 50px;
}

.course-page-header--fixed-btn-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    overflow: hidden;
}

.course-page-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.course-page-header-container>.left {
    width: 45%;
    padding: 20px 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-page-header-container .left--heading>h1 {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: .5rem;
    color: rgb(46, 145, 235);
}

.course-page-header-container .left--heading>h6 {
    font-size: 1rem;
    font-weight: 400;
    color: #292626;
}

.course-page-header-container .left--heading>h6>p {
    font-weight: 600;
    display: inline;
    font-size: 1.2rem;
}

.course-page-header-container .enroll-btn {
    width: 150px;
    height: 40px;
    margin-top: 7%;
    border: none;
    background: #00a6eb 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1607843137254902);
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.course-page-header-container>.right {
    width: 40%;
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.course-page-header-container>.right>img {
    width: 100%;
}

.course-highlights-main {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.course-highlights-sub-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 3rem;
    justify-content: space-around;
    box-sizing: border-box;
    color: #2e2e2e;
    width: 85%;
    padding: 0rem 32px;
}

.course-highlights--list-container {
    margin-right: .75rem;
    width: 48%;
    min-height: 70px;
    background-size: contain;
    margin: .75rem 0rem;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .25rem .5rem;
    margin-left: 0rem;
    box-sizing: border-box;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(70, 70, 70, .1607843137);
}

.course-highlights--img-container {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-highlights--img-container>img {
    height: 60%;
    max-height: 4rem;
}

.course-highlights--list-container>p {
    margin-left: 1rem;
    font: normal normal 700 1rem/1.5rem Inter;
    letter-spacing: 0px;
    width: 80%;
}


.course-mentors-main {
    max-width: 1147px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 3rem auto;
    margin-bottom: 1rem;
}

.course-mentors-main>h5 {
    width: 100%;
    text-align: center;
    color: #151414;
    margin-bottom: 1rem;
    font: normal normal 500 1.75rem/2rem Inter;
}

.course-mentors-other-container {
    width: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-mentors-other-container>h5 {
    font: normal normal 400 1.4rem/2rem Inter;
    color: #151414;
    margin: 1rem 0rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

.slick-slider {
    position: relative;
    width: 90%;
    user-select: none;
    touch-action: pan-y;
}

.slick-list {
    position: relative;
    display: block;
    transform: translateZ(0);
    overflow: hidden;
}

.slick-track {
    width: 1032px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.coreFeatures-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    opacity: 1;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 1227px;
    color: #151414;
}

.coreFeatures-main-section>h2 {
    font-size: 22px;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
}

.coreFeatures-main-section>h2 span {
    font: normal normal 500 1.75rem/2rem Inter;
}

.CourseFeatures_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0rem 1rem;
}

.CourseFeatures_bg-img-container {
    width: 33%;
    position: absolute;
    height: 100%;
    z-index: 0;
    background: #f8fbff 0% 0% no-repeat padding-box;
}

.CourseFeatures_bg-img-container>picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.CourseFeatures_bg-img-container img {
    width: 90%;
    height: 20rem;
    margin-bottom: 1rem;
}

.CourseFeatures_container>ul {
    width: 100%;
    list-style: none;
    z-index: 2;
    padding: 1rem 0rem;
}

.CourseFeatures_container ul li:nth-of-type(2n + 1) {
    margin-left: .5rem;
    align-items: center;
    justify-content: flex-end;
}

.CourseFeatures_container ul li:nth-of-type(2n + 2) {
    margin-right: .5rem;
    align-items: center;
    justify-content: flex-end;
}

.CourseFeatures_container>ul>li {
    width: 35.5%;
    margin: 1rem 13.8%;
    display: inline-block;
}

.CourseFeatures_container ul li div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.CourseFeatures_container ul li .CourseFeatures_list-item-even {
    direction: rtl;
}

.CourseFeatures_container ul li .CourseFeatures_list-item-odd {
    direction: ltr;
}

.CourseFeatures_container ul li .CourseFeatures_list-item-even .CourseFeatures_img-container {
    margin-left: 1rem;
}

.CourseFeatures_container ul li .CourseFeatures_list-item-odd .CourseFeatures_img-container {
    margin-right: 1rem;
}

.CourseFeatures_container ul li div .CourseFeatures_img-container {
    height: 65px;
    width: 80px;
    border-radius: 50%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px rgba(138, 138, 138, .1607843137);
    display: flex;
    justify-content: center;
    align-items: center;
}

.CourseFeatures_container ul li div .CourseFeatures_img-container img {
    width: 40px;
    height: 40px;
}


.CourseFeatures_container ul li .CourseFeatures_list-item-even .CourseFeatures_details-container {
    margin-right: 0;
}

.CourseFeatures_container ul li .CourseFeatures_list-item-odd .CourseFeatures_details-container {
    margin-left: 0;
}

.CourseFeatures_container ul li div .CourseFeatures_details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CourseFeatures_container ul li div .CourseFeatures_details-container h5 {
    font-size: 14px;
    margin-bottom: .5rem;
    direction: ltr;
}

.CourseFeatures_container ul li:nth-of-type(2n + 1) h5 {
    text-align: right;
}


.CourseFeatures_container ul li div .CourseFeatures_details-container p {
    text-align: initial;
    font-size: 12px;
    width: 85%;
}


/* -------------------Course-page-stats------------- */

.course-page-stats {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin: 2rem auto;
    max-width: 1147px;
    margin-bottom: 3rem;
}


.course_page_stats-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0rem;
    height: 100%;
}

.course_page_stats-container>h1 {
    text-align: center;
    color: #00a6eb;
    font: normal normal 700 2.75rem/4rem Inter;
}

.course_page_stats-container>p {
    text-align: center;
    font: normal normal 500 1.1rem/2rem Inter;
    color: #322e2e;
}



/* -----------------------companies-network-main---------------------- */

.companies-network-main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1147px;
}

.companies-network-main>h2 {
    font-size: 22px;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
}


.companies-network-main>h2>span {
    font: normal normal 500 1.75rem/2rem Inter;
}

.companies-network-main img {
    width: 100%;
}

.CoursePageLearnings__main {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px rgba(168, 164, 164, .1607843137);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
    box-sizing: border-box;
    min-height: 22rem;
    max-width: 1147px;
    margin: 3rem auto;
    margin-bottom: 0rem;
    border-top: .5px solid #c2c2c2;
    border-bottom: .5px solid #c2c2c2;
}

.CoursePageLearnings__main h5 {
    color: #3f3c3c;
    font: normal normal 500 1.75rem/3rem Inter;
    margin-bottom: 3rem;
    display: block;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font: normal normal 700 1rem/1.5rem Inter;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container img {
    width: 16%;
    height: 100%;
    margin-right: 2rem;
}

.CoursePageLearnings__details-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    color: #151414;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item {
    height: 90px;
    width: 43%;
    margin: 1rem 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem;
    border-radius: 5px;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item img {
    width: 20%;
    margin-right: 1rem;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item .CoursePageLearnings__detail {
    width: 70%;
    height: 100%;
    font-size: .85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}



/* -----------------------------CoursesPage__container-batchDetails------------------------- */
.CoursesPage__container-batchDetails {
    scroll-margin-top: 150px;
}

.CoursePageBatchDetails__section_main_container {
    width: 100%;
    border-top: .5px solid #c2c2c2;
    border-bottom: .5px solid #c2c2c2;
    box-sizing: content-box;
    padding: 3rem 0;
    box-sizing: border-box;

    position: sticky;
    top: 0;
}

.CoursePageBatchDetails__section_container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px 0 0;
}

.CoursePageBatchDetails__batch_text_section,
.CoursePageBatchDetails__section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoursePageBatchDetails__heading {
    margin-left: 10px;
    width: 9rem;
    font-size: 1.1rem;
    font: normal normal 400 1.1rem/1.5rem Inter;
}

.CoursePageBatchDetails__section {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.CoursePageBatchDetails__batch_text_section,
.CoursePageBatchDetails__section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CoursePageBatchComponent__date_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    flex-wrap: nowrap;
    justify-content: flex-start;
}

.CoursePageBatchComponent_radio_buttons {
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 5px;
    padding: .25rem;
    margin: .25rem 1.1rem;
    width: 11.5rem;
    height: 4.5rem;
    position: relative;
}

.CoursePageBatchComponent_radio_buttons_selected {
    color: #fff;
    background: #00a6eb 0 0 no-repeat padding-box;
    box-shadow: 0 0 10px rgba(37, 37, 37, .1607843137254902);
    border: 1px solid #00a3e6;
    border-radius: 5px;
}

.CoursePageBatchComponent_radio_label {
    display: flex;
    cursor: pointer;
}

input[type=radio] {
    display: inline !important;
    width: 18px !important;
    height: 18px !important;
    position: relative;
    top: 10px;
}

.CoursePageBatchComponent__radio_input {
    opacity: 0;
}

.CoursePageBatchComponent__radio_text_container {
    width: 100%;
    padding-top: 5px;
}

.CoursePageBatchComponent__radio_batch_start_date {
    font-size: 1.1rem;
    position: relative;
    font-weight: 600;
}

.CoursePageBatchComponent__reg_end_date_selected {
    font: normal normal 400 .9rem/2rem Inter;
    letter-spacing: 0;
    color: #fff;
}

.CoursePageBatchComponent_radio_buttons_not-selected {
    color: #1b7ed8;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 0 5px rgba(37, 37, 37, .1607843137254902);
    border-radius: 5px;
    border-bottom: 5px solid #00a6eb;
}

.CoursePageBatchComponent__reg_end_date_not-selected {
    font: normal normal 400 .9rem/2rem Inter;
    letter-spacing: 0;
    color: #031e4d;
}

.CoursePageBatchDetails__enrollNow_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;

    margin-bottom: 1rem;
}

.CoursePageBatchDetails__actual_priceamount_no_discount {
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
    font: normal normal 600 1.75rem/3rem Inter;
    letter-spacing: 0;
    color: #08a2eb;
}

.CoursePageBatchDetails__cta_container {
    display: flex;
    justify-content: space-between;
}

.CoursePageBatchDetails__enroll_now_button {
    border: none;
    min-width: 130px;
    padding: 10px;
    color: #fffaf0;
    font-size: 16px;
    cursor: pointer;
    background: transparent linear-gradient(79deg, #3194ee, #1477d2) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
    border-radius: 3px;
}


.CoursePageMentors__other-mentor-heading-mbl,
.CoursePageMentors__other-mentor-container-mbl {
    display: none;
}

.CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container h5 {
    display: none;
}

@media screen and (max-width:1024px) {
    .course-page-header {
        overflow: hidden;
    }
}

@media screen and (max-width:900px) {
    .course-page-header {
        height: 100%;
    }

    .course-page-header-container {
        flex-direction: column-reverse;
    }

    .course-page-header-container>.left {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .course-page-header-container>.left .left--heading {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .course-page-header-container .left--heading>h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .course-page-header-container .left--heading>h6 {
        font-size: 1rem;
        text-align: center;
    }

    .course-page-header-container>.right {
        width: 100%;
        padding: 1rem 0;
        height: 60vh;
    }

    .course-page-header-container>.right {
        height: 45vh;
    }

    .course-page-header-container>.right>img {
        position: relative;
        width: 100%;
        margin: auto;
        min-height: 100px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .course-highlights-main {
        justify-content: space-evenly;
        margin-top: 0rem;
        height: 100%;
        margin-top: 1rem;
    }

    .course-highlights-sub-container {
        padding: 0rem 1rem;
        width: 100%;
    }

    .course-highlights--list-container {
        width: 47%;
        min-height: 120px;
        padding: 0rem 1rem;
    }

    .course-highlights--img-container>img {
        height: 30%;
    }

    .course-highlights--list-container>p {
        top: 10px;
        font-size: 14px;
        line-height: 1.6;
    }

    .course-mentors-main {
        background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px rgba(177, 177, 177, .1607843137);
        border-radius: 5px;
        margin: 1rem 3rem;
        position: relative;
        margin-bottom: 32rem;
        margin-top: 3rem;
    }

    .course-mentors-main>h5 {
        margin-bottom: 0rem;
        font: normal normal 500 1.25rem/2rem Inter;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        box-sizing: border-box;
    }

    .course-mentors-other-container {
        display: none;
    }

    .CoursePageMentors__other-mentor-heading-mbl {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 4.5rem;
        width: 100%;
        color: #fff;
        background: #00a6eb 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px rgba(203, 203, 203, .1607843137);
        padding-top: 1rem;
        font: normal normal 700 1rem/1.5rem Inter;
        text-align: center;
        box-sizing: border-box;
    }

    .CoursePageMentors__other-mentor-container-mbl {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
        padding-top: 0rem;
    }

    .CoursePageMentors__card-mbl {
        background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 6px rgba(162, 161, 161, .1607843137);
        border-radius: 5px;
        height: 120px;
        width: 100%;
        padding: .75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0rem;
        margin-top: 0rem;
    }

    .CoursePageMentors__card-mbl>img {
        width: 5rem;
        height: 5rem;
        aspect-ratio: 1/1;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details {
        width: 65%;
        height: 100%;
        padding: .5rem 0rem;
        padding-left: 1rem;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>h4 {
        color: #000;
        font: normal normal 600 1.3rem/1.5rem Inter;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>p {
        font: normal normal 400 .8rem/1.5rem Inter;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>img {
        height: 1.75rem;
        margin-top: .6rem;
        max-width: 100%;
    }

    .coreFeatures-main-section>h2 {
        margin-bottom: 1rem;
    }

    .CourseFeatures_bg-img-container {
        display: none;
    }

    .CourseFeatures_container ul li:nth-of-type(2n + 1) {
        margin-left: 0rem;
        align-items: center;
        justify-content: flex-end;
    }

    .CourseFeatures_container>ul>li {
        width: 100%;
        margin: 0rem;
        padding: .5rem 1rem;
        box-sizing: border-box;
    }

    .CourseFeatures_container ul li .CourseFeatures_list-item-even {
        direction: ltr;
    }

    .CourseFeatures_container ul li .CourseFeatures_list-item-even .CourseFeatures_img-container {
        margin-left: 0rem;
    }

    .CourseFeatures_container ul li .CourseFeatures_list-item-even .CourseFeatures_details-container {
        margin-right: 0;
        width: 95%;
        margin-left: 1rem;
    }

    .CourseFeatures_container ul li div .CourseFeatures_details-container p {
        width: 100%;
    }

    .course-page-stats {
        flex-direction: column;
    }

    .course_page_stats-container {
        width: 100%;
        padding: 1rem 0rem;
    }

    .CourseSyllabus__syllabus-container-category-container {
        width: 95%;
    }

    .CoursePageBatchDetails__batch_text_section,
    .CoursePageBatchDetails__section_container {
        flex-direction: column;
        padding: 1rem;
    }

    .CoursePageBatchDetails__section {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        width: 100%;
    }

    .CoursePageBatchComponent__date_container {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .CoursePageBatchComponent_radio_buttons {
        padding: 5px 0;
        width: 15rem;
        height: 6rem;
    }

    .CoursePageBatchComponent__radio_text_container {
        padding: 0;
    }

    .CoursePageLearnings__main {
        min-height: 20rem;
        margin: 3rem 1rem;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
        background: #fff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px rgba(96, 93, 93, .1607843137);
        border-radius: 10px;
        padding: 3rem .5rem;
        padding-bottom: 0rem;
    }

    .CoursePageLearnings__main h5 {
        text-align: center;
        display: none;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container {
        flex-direction: column;
        margin-bottom: 0rem;
        padding: 1rem .5rem;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container img {
        margin-right: 0rem;
        width: 35%;
    }

    .CoursePageLearnings__details-container {
        width: 100%;
        margin: 2rem 0rem;
        justify-content: center;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container h5 {
        display: block;
        margin-bottom: 2.5rem;
        width: 100%;
        font: normal normal 500 1.5rem/2rem Inter;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item {
        width: 100%;
        height: 100%;
        margin: .75rem 0rem;
        padding: 0rem .5em;
        justify-content: space-around;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item img {
        height: 100%;
        width: 3rem;
        margin-right: 1rem;
    }

    .CoursePageLearnings__main .CoursePageLearnings__content-container .CoursePageLearnings__details-container .CoursePageLearnings__details-list-item .CoursePageLearnings__detail {
        width: 85%;
        min-height: 5rem;
        font-size: .85rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (max-width:500px) {
    .course-page-header-container>.left {
        width: 100%;
    }

    .course-highlights-main {
        justify-content: space-evenly;
    }

    .course-highlights--list-container {
        width: 90%;
        min-height: 5.5rem;
        margin: .5rem 0rem;
    }

    .course-highlights--img-container {
        width: 20%;
    }

    .course-highlights--img-container>img {
        width: 85%;
        height: 2.5rem;
    }

    .course-mentors-main {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 28rem;
    }

    .course-mentors-main>h5 {
        padding: 1rem;
    }

    .CoursePageMentors__other-mentor-heading-mbl {
        font: normal normal 700 .85rem/1.5rem Inter;
    }

    .CoursePageMentors__other-mentor-container-mbl {
        height: 460px;
        bottom: -27.5rem;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>h4 {
        font: normal normal 600 1.1rem/1.5rem Inter;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>p {
        font: normal normal 400 .7rem/1.2rem Inter;
    }

    .CoursePageMentors__card-mbl .CoursePageMentors__details>img {
        margin-top: .35rem;
    }
}