.forgot-password-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 356px;
    align-items: center;
    margin: auto auto 40px;
}

.forgot-image-container {
    margin-top: 50px;
    display: flex;
}

.forgot-password-heading {
    color: #264674;
    font: 24px Poppins;
    margin: 20px 0;
}

.forgot-password-msg{
    text-align: center;  
}

.forgot-password-container > input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #4b8ce8;
    margin: 20px;
    width: 100%;
    outline: none;
    font: 16px Poppins;
}

.forgot-password-button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.forgot-password-button{
    height: 30px;
    width: 100%;
    font-size: 18px;
    box-shadow: 2px 2px 6px rgba(55,84,170,.30196078431372547);
    border: 2px solid #ff219f;
    background: #ff219f 0 0 no-repeat padding-box;
    color: #fff;
    border-radius: 5px;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
    padding: 5px 0;
}

.forgot-pass-return-link{
    cursor: pointer;
    text-decoration: underline;
}