.home-container {
    margin: auto;
    max-width: 1921px;
    box-sizing: border-box;
    overflow: hidden;
}

.home-top-main {
    margin: 0 auto;
    display: flex;
}

.home-top-left {
    width: 55%;
    padding: 80px;
}

.home-top-right {
    width: 45%;
}

.home-top-left--heading {
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.4;
    color: #f78077;
}

.home-top-left--subheading {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    color: #3e4041;
    margin-bottom: 20px;
}

.home-top-left--last {
    margin: 25px 0;
    font-size: 1.5vw;
    color: #f78077;
    font-weight: 500;
}

.home-top-left-button {
    display: flex;
}

.home-top-left-button button {
    margin-right: 30px;
    background: #00a5ec 0 0 no-repeat padding-box;
    border: none;
    padding: 12px 52px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5vw;
}

.home-top-left-button button:hover {
    background: #09c 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
}

.home-top-right>img {
    height: 100%;
    width: 100%;
}

.home-achievement {
    max-width: 1082px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100px;
}

.home-achievement .achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.achievement-container>img {
    height: 57px;
    margin: 10px;
}

@media screen and (max-width:1024px) {

    .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 21px;
    }
}

@media screen and (max-width:900px) {
    .home-top-main {
        flex-direction: column-reverse;
        background: none;
        background-color: #fff;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
    }


    .home-top-left {
        width: 80%;
        padding: 0;
        margin: 20px;
    }

    /* .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 35px;
    } */

    .home-top-left--last {
        font-size: 21px;
    }

    .home-top-left-button button{
        font-size: 21px;
    }

    .home-top-right {
        background: none;
        width: 100%;
    }
}


@media screen and (max-width:500px) {

    .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 21px;
    }

    .home-top-main {
        padding: 0;
    }

    .home-top-left {
        width: 90%;
        padding: 0 20px;
        margin: 20px 0;
    }

    .home-top-left--last {
        font-size: 16px;
    }

    .home-top-left-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .home-top-left-button button {
        margin-bottom: 20px;
        width: 75%;
        font-size: 16px;
    }

    .home-top-right {
        height: 100%;
        width: 100%;
    }

    .home-achievement {
        padding: 10px;
    }

    .home-achievement .achievement-container {
        width: 100%;
    }

    .achievement-container>img {
        height: 40px !important;
    }
}