.home-container {
    margin: auto;
    max-width: 1921px;
    box-sizing: border-box;
    overflow: hidden;
}

.home-top-main {
    margin: 0 auto;
    display: flex;
}

.home-top-left {
    width: 55%;
    padding: 80px;
}

.home-top-right {
    width: 45%;
}

.home-top-left--heading {
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.4;
    color: #f78077;
}

.home-top-left--subheading {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    color: #3e4041;
    margin-bottom: 20px;
}

.home-top-left--last {
    margin: 25px 0;
    font-size: 1.5vw;
    color: #f78077;
    font-weight: 500;
}

.home-top-left-button {
    display: flex;
}

.home-top-left-button button {
    margin-right: 30px;
    background: #00a5ec 0 0 no-repeat padding-box;
    border: none;
    padding: 12px 52px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5vw;
}

.home-top-left-button button:hover {
    background: #09c 0 0 no-repeat padding-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
}

.home-top-right>img {
    height: 100%;
    width: 100%;
}

.home-achievement {
    max-width: 1082px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100px;
}

.home-achievement .achievement-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.achievement-container>img {
    height: 57px;
    margin: 10px;
}

.Home__poolexperts {
    padding: 180px 20px 0;
    background: #bcf2fb;
}

.Home__poolexperts--img-lazyload {
    display: flex;
    justify-content: center;
}

.Home__poolexperts--img-mob {
    display: none;
    width: 100%;
    height: 100%;
}

.PrepBytesPlacedStudents {
    min-height: 50px;
}

.PrepBytesPlacedStudents-img {
    width: 100%;
}

.CBMBanner {
    background: #fff;
    min-height: 50px;
}

.CBMBanner_main {
    min-height: 364px;
    max-width: 1238px;
    margin: 80px auto 15px;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1607843137254902);
    border-radius: 20px;
    position: relative;
    background-color: #fff;
}

.CBMBanner_bg-img,
.CBMBanner_bg-img-mob {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.CBMBanner_bg-img-mob {
    display: none;
}

.CBMBanner_info-cont {
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    z-index: 10;
}

.CBMBanner_info-title {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0;
    color: #004461;
}

.CBMBanner_info-text {
    margin: 20px 0;
    font-size: 24px;
    letter-spacing: 0;
}

.CBMBanner_info-text span {
    letter-spacing: 0;
}

.CBMBanner_cta.MuiButton-root {
    background: transparent linear-gradient(104deg, #f1127c, #f86667) 0 0 no-repeat padding-box;
    letter-spacing: 0;
    color: #f7f7f7;
    font-size: 18px;
    margin: 20px 0;
    text-transform: unset;
    padding: 5px 45px;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}


.popularProjects {
    background: #fdf0d7;
    min-height: 50px;
}

.popularProjects__main {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.popularProjects__main--heading {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;
    color: #424242;
    font-weight: 600;
    font-size: 35px;
}

.popularProjects__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}



@media screen and (max-width:1024px) {

    .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 21px;
    }

    .CBMBanner_main {
        margin: 80px 20px 15px;
    }
}

@media screen and (max-width:900px) {
    .home-top-main {
        flex-direction: column-reverse;
        background: none;
        background-color: #fff;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
    }


    .home-top-left {
        width: 80%;
        padding: 0;
        margin: 20px;
    }

    /* .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 35px;
    } */

    .home-top-left--last {
        font-size: 21px;
    }

    .home-top-left-button button {
        font-size: 21px;
    }

    .home-top-right {
        background: none;
        width: 100%;
    }

    .CBMBanner_info-title {
        font-size: 24px;
    }

    .CBMBanner_info-text {
        font-size: 18px;
    }
}


@media screen and (max-width:500px) {

    .home-top-left--heading,
    .home-top-left--subheading {
        font-size: 21px;
    }

    .home-top-main {
        padding: 0;
    }

    .home-top-left {
        width: 90%;
        padding: 0 20px;
        margin: 20px 0;
    }

    .home-top-left--last {
        font-size: 16px;
    }

    .home-top-left-button {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .home-top-left-button button {
        margin-bottom: 20px;
        width: 75%;
        font-size: 16px;
    }

    .home-top-right {
        height: 100%;
        width: 100%;
    }

    .home-achievement {
        padding: 10px;
    }

    .home-achievement .achievement-container {
        width: 100%;
    }

    .achievement-container>img {
        height: 40px !important;
    }

    .Home__poolexperts--img {
        display: none;
    }

    .Home__poolexperts--img-mob {
        display: block;
    }

    .CBMBanner_bg-img {
        display: none;
    }

    .CBMBanner_bg-img-mob {
        display: block;
    }

    .CBMBanner_main {
        min-height: 410px;
    }

    .CBMBanner_info-cont {
        width: unset;
        padding: 15px;
        text-align: center;
    }

    .CBMBanner_info-title {
        font-size: 20px;
    }

    .CBMBanner_info-text {
        font-size: 14px;
    }

    .CBMBanner_cta.MuiButton-root {
        margin-top: 0;
    }
}