.RegisterModal__container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    z-index: 10000;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
    padding-top: 10px;
}

.RegisterModal,
.RegisterModalActive {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1607843137254902);
    width: 1050px;
    margin: auto;
    min-height: 610px;
    max-width: 100%;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.RegisterModalActive {
    min-height: 540px;
}

.RegisterModalActive>img {
    width: 45%;
    height: 100%;
}

.RegisterModal-right {
    width: 60%;
    z-index: 100;
}

.RegisterModal__top {
    padding: 10px 30px 0;
    position: relative;
}

.RegisterModal__top-text,
.RegisterModal__top-text-active {
    color: #424242;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    margin-top: 25px;
}

.RegisterModal__top-text-active {
    margin-top: 84px;
}

.RegisterModal__top>svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 22px;
    cursor: pointer;
}

.RegisterModal-form-main-active {
    display: flex;
    margin-top: 70px;
}

.RegisterModal-form-main--right {
    width: 100%;
    padding: 0 10% 0 6%;
}

.RegisterModal__form-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: 20px;
}

.RegisterModal__form-container-box label,
.RegisterModal__form-container label {
    width: 250px;
    text-align: initial;
}

.RegisterModal__form-select {
    padding: 12px 6px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 14px;
    width: 88%;
    height: 15px;
    color: #707070;
    box-sizing: content-box;
    border: 1px solid #dfdfdf;
    background: transparent;
    background-image: url("../assets//images/ea/option.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.RegisterModal__form-working-professional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.RegisterModal__form-working-professional label {
    text-align: initial;
}

.RegisterModal__form-button {
    display: flex;
}

.RegisterModal__form-working-professional-button,
.RegisterModal__form-working-professional-button-no {
    width: 95px;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    cursor: pointer;
    align-items: center;
}

.RegisterModal__form-working-professional-button-no,
.RegisterModal__form-working-professional-selected-button-no {
    margin-left: 15px !important;
}

.RegisterModal__form-working-professional-selected-button,
.RegisterModal__form-working-professional-selected-button-no {
    border: 1px solid #5393ec;
}

.RegisterModal-form-accept-terms-and-conditions-container {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    width: 100%;
}

.RegisterModal-form-accept-terms-and-conditions-checkbox {
    display: inline !important;
    width: unset !important;
    color: unset !important;
    padding: unset !important;
    margin: unset !important;
    margin-right: 15px !important;
    color: #00a5ec !important;
    height: 15px;
    width: 15px;
    outline: 1px #5393ec;
    accent-color: #5393ec;
}

.RegisterModal-form-main--right input {
    font-size: 14px;
    width: 88%;
    margin-top: 19px;
    padding: 10px 5px;
    border: 1px solid #e1e2e2;
    border-radius: 4px;
    color: #707070;
}

.RegisterModal-form-accept-terms-and-conditions-label {
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 400;
}

.RegisterModal-form-accept-terms-and-conditions-term {
    color: #5393ec;
    text-decoration: none;
    font-weight: 600px;
}


.RegisterModal--button-btn,
.RegisterModal--button-btn-active {
    padding: 11px 40px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    -webkit-box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    box-shadow: 0 3px 6px rgba(95, 141, 196, .2);
    border-radius: 5px;
    color: #fff;
    background: #f78077;
    font-weight: 600;
    margin: 25px 20px 0;
    cursor: pointer;
}

.RegisterModal--button-btn-active {
    margin-top: 60px;
}



@media screen and (max-width:1024px) {

    .RegisterModal,
    .RegisterModalActive {
        width: 95%;
    }

    .RegisterModalActive {
        min-height: auto;
        width: 95%;
    }

    .RegisterModalActive>img {
        display: none;
    }

    .RegisterModal-right {
        width: 96%;
        padding-bottom: 30px;
        padding-left: 2%;
        padding-right: 2%;
    }

    .RegisterModal__top-text-active {
        margin-top: 20px;
    }

    .RegisterModal__top>svg{
        top: 10px;
        right: 0;
    }

    .RegisterModal-form-main-active {
        margin-top: 0;
    }

    .RegisterModal-form-main--right {
        width: 100%;
        padding: 0 5%;
    }

    .RegisterModal__form-container, .RegisterModal__form-container-box {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .RegisterModal__form-container {
        margin-top: 0;
        margin-bottom: 15px;
    }



    .RegisterModal__form-select {
        width: 96%;
        margin-top: 5px;
    }

    .RegisterModal__form-working-professional {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .RegisterModal__form-button {
        margin-top: 8px;
    }

    .RegisterModal__form-working-professional-button, .RegisterModal__form-working-professional-button-no {
        margin: initial;
        width: 110px;
    }

    .RegisterModal__form-working-professional-button, .RegisterModal__form-working-professional-button-no {
        margin: initial;
        width: 110px;
    }

    .RegisterModal-form-main--right input {
        width: 96%;
    }

    .RegisterModal--button-btn-active {
        margin-top: 30px;
    }
}

@media screen and (max-width:900px) {
    .RegisterModal__container {
        align-items: normal;
    }

    .RegisterModal-right {
        padding-bottom: 15px;
    }

    .RegisterModal__top>svg{
        top: 12px;
    }

    .RegisterModal__form-container {
        margin-bottom: 8px;
    }

    .RegisterModal__form-container-box label, .RegisterModal__form-container label {
        font-size: 14px;
    }

    .RegisterModal__form-select {
        padding: 5px 6px;
        margin-top: 0;
        background-position-y: 0;
    }
    .RegisterModal__form-working-professional {
        font-size: 14px;
        margin-top: 10px;
    }
    .RegisterModal__form-working-professional-button, .RegisterModal__form-working-professional-button-no {
        font-size: 14px;
        height: 28px;
    }

    .RegisterModal__form-working-professional-button, .RegisterModal__form-working-professional-button-no {
        font-size: 14px;
        height: 28px;
    }

    .RegisterModal-form-main--right input {
        font-size: 14px;
        padding: 5px;
    }

    .RegisterModal-form-accept-terms-and-conditions-label {
        font-size: 12px;
    }

    .RegisterModal--button-btn-active {
        margin-top: 20px;
    }
}

@media screen and (max-width:500px) {}