.topic-mock-test-card{
    width: 12em;
    padding: 10px;
    background: transparent linear-gradient(180deg,#c4dcf9,#fff 54%,#fff) 0 0 no-repeat padding-box;
    box-shadow: 0 10px 30px rgba(95,141,196,.2);
    border-radius: 5px;
    color: #707070;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.topic-mock-test-card-image{
    text-align: center;
    margin: 10px 0;
}

.topic-mock-test-card-image>img{
    height: 80px;
    width: 100px;
}

.topic-mock-test-card--heading{
    text-align: center;
    color: #3969ad;
    font-weight: 400;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
}

.topic-mock-test-card--bottom{
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
}

.topic-mock-test-card--bottom button{
    background: #22559c;
    box-shadow: 0 3px 6px rgba(95,141,196,.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 28px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}