.video-card-main{
    width: 360px;
    min-height: 350px;
    margin: 20px;
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px rgba(0,0,0,.1137);
    position: relative;
    border-radius: 10px;
}


.video-card-video>iframe{
    width: 94%;
    padding: 3%;
    border-radius: 15px;
    height: 220px;
}


.video-card-text{
    padding: 15px 20px;
}

.video-card-text>p:first-child{
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

.video-card-text>p:last-of-type{
    margin-top: 7px;
    font-size: 14px;
    color: #858585;
    letter-spacing: .5px;
}