.videoLib-header {
    background: #d9f5f9 0 0 no-repeat padding-box;
    min-height: 300px;
    max-width: 1251px;
    margin: auto;
}

.videoLib-header-container {
    display: flex;
    margin: 0 auto;
    max-width: 1168px;
    color: #fff;
    justify-content: space-between;
}

.videoLib-header-container .left {
    width: 40%;
    padding-top: 65px;
}

.videoLib-header-container .left .left-top {
    font-size: 32px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 19px;
    margin-top: 10px;
    color: #00a5ec;
}

.videoLib-header-container .left .left-bottom {
    font-size: 14px;
    letter-spacing: .14px;
    padding-bottom: 29px;
    padding-right: 10px;
    color: #424242;
}

.videoLib-main {
    margin: 0 auto;
    max-width: 1251px;
}

.videoLib-main>h2 {
    font-size: 18px;
    font-weight: 600;
    color: #22559c;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    position: relative;
}

.videoLib-main>h2::after {
    content: "";
    position: absolute;
    right: 0;
    left: -20px;
    top: 80%;
    height: 2px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #22559c;
    margin: 11px auto;
}

.videoLib-main-cards {
    max-width: 1251px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


@media screen and (max-width:1024px) {
    .videoLib-header-container {
        padding: 20px;
    }
}

@media screen and (max-width:900px) {
    .videoLib-header-container {
        flex-direction: column-reverse;
    }

    .videoLib-header-container .left {
        padding-top: 0;
        width: 100%;
    }

    .videoLib-header-container .left .left-top{
        font-size: 24px;
    }
}

@media screen and (max-width:500px) {}