.PrepMentors__main--container-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20em;
    flex: 0 0 20em;
    margin: 50px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 36px rgba(0,0,0,.1607843137254902);
    box-shadow: 0 3px 36px rgba(0,0,0,.1607843137254902);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.PrepMentors__main--container-card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.PrepMentors__main--container-card-image-background--img {
    width: 100%;
}

.PrepMentors__main--container-card-image--img {
    border-radius: 50%;
    width: 132px;
    border-style: bold;
    border-color: #fff;
    position: absolute;
    top: 25%;
    left: 5%;
}

.PrepMentors__main--container-card-text {
    margin-top: 40px;
    padding: 7px;
}

.PrepMentors__main--container-card-text--name {
    color: #424242;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}

.PrepMentors__main--container-card-text--designation {
    font-size: 14px;
    color: #858585;
    margin-left: 15px;
}

.PrepMentors__main--container-card-info {
    padding: 20px 0;
    margin: 0 20px;
    border-top: 2px solid #f7f7f7;
    height: 200px;
    overflow: auto;
}

.PrepMentors__main--container-card-info--text {
    font-size: 14px;
    color: #4f4f53;
}

.PrepMentors__main--container-card-company {
    padding: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    margin: 0 auto;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #f7f7f7;
    border-radius: 30px 30px 10px 10px;
    width: 100%;
}

.PrepMentors__main--container-card-company--img {
    padding: 8px;
}