.elevationSyllabus_main {
    padding: 30px 10px 40px;
    background: #fff;
}

.elevationSyllabus__main-top {
    max-width: 1280px;
    margin: 40px auto;
}

.elevationSyllabus__main-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.elevationSyllabus__main-top-container--heading {
    color: #3e4041;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.elevationSyllabus__main-top--text {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: rgba(106, 127, 134, .9294117647058824);
}

.elevationSyllabus {
    max-width: 1180px;
    margin: 0 auto;
}

.elevationSyllabus__box {
    position: relative;
    text-align: center;
    padding: 13px;
}

.elevationSyllabus__box--text {
    color: #f7f7f7;
    font-size: 18px;
}

.elevationSyllabus__course {
    margin: 40px 0;
}

.elevationSyllabusContent__course-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.elevationSyllabus__course-top {
    background: #fff;
    padding: 12px 20px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border: .25px solid hsla(0, 0%, 43.9%, .2);
    border-left: 8px solid #f78077;
}

.elevationSyllabus__course-top-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.elevationSyllabus__course-top-main-box {
    border: 2px solid #f78077;
    border-radius: 6px;
    padding: 2px;
}

.elevationSyllabus__course-top-main-box--text {
    font-size: 20px;
    background-color: #f78077;
    border-radius: 6px;
    padding: 0 12px;
    color: #fff;
}

.elevationSyllabus__course-top-main--text {
    margin-left: 15px;
    font-size: 21px;
    color: #424242;
    font-weight: 600;
}

.elevationSyllabus__course-top--icon {
    background: #e8f7ed;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 7px;
    cursor: pointer;
}

.elevationSyllabus__course-top--icon svg {
    height: 18px;
    width: 18px;
}

.elevationSyllabusContent__course-content {
    overflow: hidden;
    -webkit-transition: max-height .6s ease;
    transition: max-height .6s ease;
}

.elevationSyllabus__course-content {
    padding: 21px 44px 21px 17px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #f6f8ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid #f78077;
}

.elevationSyllabus__topic-main--container--heading {
    margin: 30px 5px;
    padding: 15px;
    background: #e8f7ed;
}

.elevationSyllabus__topic-main--container-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.elevationSyllabus__topic-main--container-list--item {
    border: 1px solid red;
    color: #858585;
    padding: 12px 8px;
    margin: 10px;
    background: #fff;
}

@media screen and (max-width:900px) {}

@media screen and (max-width:500px) {
    .elevationSyllabus__main-top-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .elevationSyllabus__main-top-container--heading {
        margin-bottom: 30px;
        text-align: center;
        font-size: 24px;
        width: 70%;
    }

    .elevationSyllabus__main-top--text {
        width: 100%;
        text-align: center;
        font-size: 14px;
        width: 90%;
    }

    .elevationSyllabus__box--text {
        font-size: 16px;
    }

    .elevationSyllabus__course-top-main {
        padding: 0;
    }

    .elevationSyllabus__course-top-main-box--text {
        font-size: 15px;
        padding: 0 8px;
    }

    .elevationSyllabus__course-top-main--text {
        font-size: 15px;
    }

    .elevationSyllabus__course-content {
        padding: 10px 5px;
    }

    .elevationSyllabus__topic-main--container-list--item {
        padding: 8px;
        font-size: 14px;
        margin: 5px;
    }
}